:root {
    --title-font: "Lucida Console", Monaco, monospace;
    --content-font: "Courier New", Courier, monospace;
    --intimidating-color: #832525;
    --box-shadow-color: #d33809;
}

::-moz-selection, ::selection {
    background-color: var(--box-shadow-color);
}

:focus {
    outline: var(--intimidating-color) auto 5px;
}

html {
    display: flex;
    justify-content: center;
}

body {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ff8c20;
}

summary {
    width: fit-content
}

#map {
    height: 75vh;
    width: 100%;
    -webkit-box-shadow: 0 10px 6px -6px var(--box-shadow-color);
    -moz-box-shadow: 0 10px 6px -6px var(--box-shadow-color);
    box-shadow: 0 10px 6px -6px var(--box-shadow-color);
    border: 1px solid var(--intimidating-color);
}

.title {
    font-family: var(--title-font);
}

.description {
    margin-bottom: 1em;
}

.content {
    font-family: var(--content-font);
    width: 100%;
}

.source {
    color: var(--intimidating-color);
}

.intimidating-text {
    color: var(--intimidating-color);
    text-shadow: 3px 3px 2px #ff0000;
}